.app {
  background-color: rgb(250, 250, 250);
}
/*
HEADER===============
*/
.headerWrapper {
  padding: 30px;
  font-size: 20px;
  text-align: center;
  color: white;
  background: #090127;
}

/*
MAINCONTENT=======================
*/
.mainContentWrapper {
}

.mainContentTopFiller {
  height: 20px;
}
/*
LEFTSIDE=======
*/
.leftSideWrapper {
  float: left;
  width: 70%;
}

/*
RIGHTSIDE=======
*/
.rightSideWrapper {
  float: right;
  width: 30%;
}

.searchToolWrapper {
  text-align: center;
  margin-top: 32px;
}

.searchTool {
  border: 2px solid black;
  border-radius: 7px;
}

.searchTool:hover {
  border: 2px solid blue;
  border-radius: 7px;
}

/*
PostsList
*/

.postsListWrapper > ul {
  margin-top: 0px;
}
/*
Post
*/
.postWrapper {
  margin: 20px;
  padding: 15px;
  border: 2px solid rgb(36, 36, 36);
  border-radius: 20px;
  background-color: white;
}

.postWrapper:hover {
  border: 2px solid #2400a5;
}

.postImageWrapper > img {
  max-height: 500px;
}

/*
FOOTER==================
*/

.footerWrapper {
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  color: white;
  background: #090127;
  clear: both;
}
.footerText {
  margin: 0px;
}
